@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
	background: #d6e2e6;
}
:root {
	scrollbar-color: rgb(102, 73, 184) rgb(46, 54, 69) !important;
	scrollbar-width: 0.5rem !important;
}
body::-webkit-scrollbar {
	width: 0.9rem;
}
body::-webkit-scrollbar-track {
	background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
	background: #6649b8;
}
.jumbotron {
	position:relative;
	/* color: #2c3e50; */
	color: white;
	font-size: 1.6em;
	text-shadow: 0px 4px 3px rgba(72, 61, 139, 0.7), 0px 8px 13px rgba(0, 0, 0, 0.1);
	/* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1), 0px 8px 13px rgba(0, 0, 0, 0.1); */
	background: url('images/1.jpg') 50% 85%;
	background-size: 100%;
	height: 450px;
	padding-top: 100px;
}
#mainNavbar {
	z-index:1;
}
#mainNavbar .navbar-brand {
	color: crimson;
	font-size: 1.7rem;
}
#mainNavbar .navbar-brand:hover {
	color: red;
	position: relative;
	right: 2px;
	bottom: 1px;
}
#mainNavbar .nav-link {
	color: white;
	font-size: 1.6em;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1), 0px 8px 13px rgba(0, 0, 0, 0.2);
}
#mainNavbar .nav-link:hover {
	color: deeppink;
	/* background: slateblue; */
}

#mainNavbar.navbar.scrolled {
	background: #6649b8;
	/* background: rgb(222, 192, 222); */
	transition: background 0.6s;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 8px 13px rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid crimson;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, 0.8);
}
.container {
	max-width: 1200px;
}
.card {
	background: crimson;
}
.card-img-top {
}
.card-body {
	background: white;
}
.card:hover {
	background: red;
}

i.fa-camera {
	position: absolute;
	opacity: 0.8;
	top: 34%;
	left: 50%;
	color: crimson;
	background: white;
	border-radius: 50%;
	font-size: 30px;
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	transform: translate(-50%) scale(0);
}
.card:hover i.fa {
	transform: translate(-50%) scale(1);
	transition: opacity 0.5s, transform 0.3s 0.1s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.card * {
	transition: opacity 0.9s, transform 0.2s ease-in;
}
.card:hover .card-img-top {
	opacity: 0.7;
	filter: grayscale(100%);
}
.btn:focus .card-img-top {
	position: absolute;
	transform: scale(3);
	top: 50%;
	left: 50%;
}

hr {
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#footer .navbar-brand {
	color: rgb(0, 0, 0, 0.7);
	padding-left: 3%;
}
#footer .navbar-brand:hover {
	color: rgb(0, 0, 0);
	padding-left: 3.1%;
}

.enlarge-image {
	position: fixed;
	top: 5%;
	left: 15%;
	z-index:2;
	width: 70%; 
	border: 5px solid darkslateblue;
	animation: zoom 0.3s;
}
.fa-times-circle {
	position: fixed;
	top: 5%;
	right: 15%;
	z-index:2;
	/* border:5px solid rgb(106, 90, 205,0);; */
	color:slateblue;
	margin:12px;
}

.hidden {
	display:none;
}

@keyframes zoom {
	0% {transform:scale(0.4)}
	100% {transform:scale(1)}
  }

@media screen and (max-width: 1000px) {
	.enlarge-image {
		left: 5%;
		width: 90%; 
	}
	.fa-times-circle {
		right:5%;
	}
  }
  @media screen and (max-width: 700px) {
	.enlarge-image {
		left: 0;
		width: 100%; 
	}
	.fa-times-circle {
		right:0;
	}
  }
